{% extends 'appblog/base.html' %}  

{% block masthead %}
<header class="masthead " style="background: rgb(149,0,255);
background: linear-gradient(45deg, rgba(149,0,255,1) 0%, rgba(178,220,255,1) 50%, rgba(26,255,233,1) 100%);">
  <div class="container position-relative px-4 px-lg-5">
      <div class="row gx-4 gx-lg-5 justify-content-center">
          <div class="col-md-10 col-lg-8 col-xl-7">
              <div class="site-heading">
                  {% if request.user.is_authenticated %}

                   <h2>¡Hola {{user.username}}!</h2>
                  {% endif %}
                  <span class="subheading">Estás en mi primer blog con Django.</span>
              </div>
          </div>
      </div>
  </div>
</header>
{% endblock masthead %}
{% block contenido_inicio %}

<div class="container-fluid text-center">
  <form action="/post_random/" method="GET">
    <input
      name=""
      id=""
      class="btn btn-outline-primary text-center"
      type="submit"
      value="Ver post al azar!"
    />
  </form>
  <p class="text-primary">{{aviso}}</p>

  <h1 class="text-center m-5">Inicio</h1>
  <p class="text-start">
    Lorem ipsum dolor sit, amet consectetur adipisicing elit. Consequuntur,
    tenetur. Iusto tempore similique odit sint, animi itaque eaque reiciendis!
    Impedit, odit ipsa dolor earum eveniet porro reprehenderit numquam! Suscipit
    corporis maxime, fugit, repellat dicta molestias non quos assumenda
    excepturi voluptas labore esse rem nobis, obcaecati dolorem? Voluptate
    dolores, expedita numquam ipsam quaerat odio similique eligendi dolorem!
    Dolore a quae consequatur facere, similique doloremque tempora totam non
    harum. Magnam veritatis voluptas facilis dicta hic cupiditate explicabo
    molestiae ab eius voluptate, ipsa reiciendis sunt, expedita tempore labore
    id deleniti ratione blanditiis necessitatibus esse quam possimus magni. Quod
    assumenda laboriosam natus magnam, eligendi molestias distinctio. Dolore
    praesentium quidem quae, cumque aliquid in consequuntur, ipsum nesciunt
    ratione aperiam nulla, optio enim quis vel molestiae!
  </p>
</div>

{% endblock contenido_inicio %}
