{% extends 'appblog/base.html' %}

{% block masthead %}
<header class="masthead " style="background: rgb(149,0,255);
background: linear-gradient(45deg, rgba(149,0,255,1) 0%, rgba(178,220,255,1) 50%, rgba(26,255,233,1) 100%);">
  <div class="container position-relative px-4 px-lg-5">
      <div class="row gx-4 gx-lg-5 justify-content-center">
          <div class="col-md-10 col-lg-8 col-xl-7">
              <div class="site-heading">

                  <span class="subheading">Publica un nuevo post</span>
              </div>
          </div>
      </div>
  </div>
</header>
{% endblock masthead %}

 {% block contenido_inicio %}

<h1 class="text-center">{{titulo}}</h1>
<div class="container text-center border-top mb-5">

  <form action="" method="POST">

    {%csrf_token%}

    <table class="m-5">
      {{posteo.as_table}}
    </table>
    <p>{{error}}</p>

    <input class="btn btn-primary" type="submit" value="{{cta}}" />
  
</form>
</div>

{% endblock contenido_inicio %}
