{% extends 'appblog/base.html' %}
{% block masthead %}
<header class="masthead " style="background: rgb(149,0,255);
background: linear-gradient(45deg, rgba(149,0,255,1) 0%, rgba(178,220,255,1) 50%, rgba(26,255,233,1) 100%);">
  <div class="container position-relative px-4 px-lg-5">
      <div class="row gx-4 gx-lg-5 justify-content-center">
          <div class="col-md-10 col-lg-8 col-xl-7">
              <div class="site-heading">
                  <h1 style="word-break: break-word"> {{post.titulo}} </h1>
                  <span class="subheading">Escrito por Pepito</span>
                  <span class="subheading">{{post.fecha}}</span>
              </div>
          </div>
      </div>
  </div>
</header>
{% endblock masthead %}

{% block contenido_inicio %}

<div class="container mb-5">
  <div class="row">
    <div class="col-md-12 mb-5">
      <p style="word-break: break-word">{{post.post|safe}}</p> 
    
    </div>
    {% if request.user.is_authenticated %}
    <div class="row text-center mt-5 border-top">
      <div class="col-md-12 p-2">
        <button class="btn btn-outline-success">
          <a href="{% url 'editar_post' post.id%}">Editar post</a>
        </button>
        <button class="btn btn-outline-danger">
          <a href="{% url 'eliminar_posts' post.id%} ">Eliminar post</a>
        </button>
      </div>
    </div>
    {% endif %}
  </div>



</div>
  {% endblock contenido_inicio %}
